h1{
  font-size: 150px;
  color: #fff;
  text-align: right;
  font-family: 'Poor Story', cursive;
}

.logo{
  margin-bottom: 5%;
}
.logo img{
  width: 70%;
  text-align: center;
}

.header-social-icons {
  text-align: right;
}

.menu-nav li{
  padding-right: 15px;
}
